@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #151A22;
  --bg-dark-gray: #2C3849;
  --bg-dark-gray2: #28303a;
  --bg-dark-blue: #1C232E;
  --bg-light: #FFFFFF;
  --bg-red: #FE0404;
  --bg-blue: #49DCFF;
  --bg-gray: #8490A4;
  --bg-dark-hover: rgba(255, 255, 250, 0.1);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
  font-weight: 500;
}

p, a, span, div {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.footer-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

.footer-scrollbar::-webkit-scrollbar-thumb {
  width: 50px;
	background: #49DCFF;
	border-radius: 1px;
	margin: -100px auto;
}

.custom-list-color li::marker {
  color: #5F697A;
}